.container{
  max-width: 90%;
}


#text {
  font-size: 20px;
  height: 400px;
    font-family: 'Dosis',
        sans-serif;
        text-align: justify;
        width: 100%;
        

}



.slide_card {
  transition: 200ms transform ease-in-out;
}

.slide_card:hover {
  transform: scale(1.025);
}

.carousel_radious {
  display: flex;
  border: 2px solid #333333;

  border-radius: 10% 20% 15% 7% / 4% 6% 8% 9%;
  position: relative;
}








/*form*/




/*border */

#info_header,
#cardcard {

  display: flex;
  border: 2px solid #333333;

  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;



  position: relative;

  &::before {
    content: '';
    border: 1px solid #353535;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

/*button */
.btn_prenota {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 50px;
}



#border-form,
.border-input {
  border: 2px solid #F48224;

  border-radius: 20% 10% 30% 5% / 10% 10% 10% 10%;

  position: relative;

  &::before {
    content: '';
    border: 1px solid #353535;

    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 5% 5% 7% 10% / 10% 12% 11% 10%;
  }

}



#prenota {
  width: 200px;
  height: 75px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: black;
  background: white;
  border: 2px solid black;
  box-shadow: 5px 5px 0 #F48224, -5px -5px 0 #F48224, -5px 5px 0 #F48224, 5px -5px 0 #F48224;
  transition: 500ms ease-in-out;
  z-index: 9;
}

#prenota:hover {
  box-shadow: 20px 5px 0 #F48224, -20px -5px 0 #F48224;
}

#prenota:focus {
  outline: none;
}


.btn {
  background-color: #F48224;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  border-radius: 0 !important;
  border: none;
  transition: all 0.3s ease 0s;
}

.btn:hover,
.btn.active:hover {
  color: #F48224;
}

.btn:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background-color: black;
  width: 30%;
  height: 4px;
  transition: all 0.3s ease 0s;
}

.btn:after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color: black;
  width: 30%;
  height: 4px;
  transition: all 0.3s ease 0s;
}

.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after {
  width: 100%;
}





/*banner home*/
.banner {

  border: 2px solid #F48224;

  border-radius: 20% 50% 30% 5% / 20% 30% 50% 10%;

  position: relative;

  &::before {
    content: '';
    border: 1px solid #353535;

    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 5% 5% 7% 10% / 10% 12% 11% 10%;
  }

}

.banner>.card-body>h5 {

  font-size: 50px;
  font-family: 'Amatic SC', cursive;

}

/*card*/

.a1 {
  color: #18272F;
  position: relative;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.a1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #F48224;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.a1:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.card-body>p {
  font-family: 'Dosis', sans-serif;
}





/*Pagina servizi*/

#servizi_h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;


}

#servizi_p {
  font-size: 15px;

}

.container .img_card img {

  width: 200px;
  height: 200px;
}

.cont_card {
  flex-direction: column;
  display: -webkit-box;

}

.container .img_card {
  width: 30%;
  margin-top: 30px;
}

.container .txt_card {
  width: 70%;
  margin-top: 30px;
}

.container .txt_card h2,
.container .txt_card p {
  text-align: center;
}


