:root {
  --footer: rgba(48, 97, 150, 1);
  --main_color: #F48224;
}

* {
  box-sizing: border-box;
}

.pagewrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;

}

body {
  background: url("assets/bgimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.071);


  }
}

main {
  flex-grow: 1;
}
